<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <v:tag name="div" class="t3v-products-product--{product.uid} t3v-products-product" hideIfEmpty="true">
    <v:tag name="div" class="t3v-products-product__header" hideIfEmpty="true">
      <f:link.page pageUid="{product.pid}" class="t3v-products-product__thumbnail" title="{product.label}">
        {product.name}
      </f:link.page>
    </v:tag>

    <v:tag name="div" class="t3v-products-product__main" hideIfEmpty="true">
      <v:tag name="div" class="t3v-products-product__meta" hideIfEmpty="true">
        <v:tag name="h3" class="t3v-products-product__name" hideIfEmpty="true">
          <f:link.page pageUid="{product.pid}" title="{product.label}">
            {product.name}
          </f:link.page>
        </v:tag>
      </v:tag>

      <f:if condition="{product.abstract}">
        <div class="t3v-products-product__abstract">
          <f:format.crop maxCharacters="200" respectWordBoundaries="1">
            <f:format.html>{product.abstract}</f:format.html>
          </f:format.crop>
        </div>
      </f:if>

      <v:tag name="div" class="t3v-products-product__more" hideIfEmpty="true">
        <f:link.page pageUid="{product.pid}"
                     class="link--more link"
                     title="{product.label}">
          {f:translate(key: 'contentElements.productsContentElement.product.more.label', default: 'More')}
        </f:link.page>
      </v:tag>
    </v:tag>
  </v:tag>
</html>